################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ds4/v17
/Laboratorio 1/.vs
/Laboratorio 1/Laboratorio 1/.vs
/Laboratorio 1/Laboratorio 1/Laboratorio 1
/Laboratorio 1/Laboratorio 1
/Laboratorio10/.vs/Laboratorio10
/Laboratorio11/.vs/Laboratorio11
/Laboratorio12/.vs/Laboratorio12
/Laboratorio13/.vs/Laboratorio13
/Laboratorio14/.vs/Laboratorio14
/Laboratorio16
/Laboratorio5/.vs/ProjectEvaluation
/Laboratorio6/.vs
/Laboratorio7/.vs
/Laboratorio8/.vs/Laboratorio8
/Laboratorio9/.vs
/Laboratorio5/.vs/Laboratorio5
/Laboratorio4/.vs
/Laboratorio3/.vs
/Laboratorio2/.vs
/README.md
/Laboratorio17/.vs/Laboratorio17
